**/__debug*
examples/hello/storage
#**/go.work
**/go.work.sum
/*.sh

.vscode/launch.json
tool/cmd/gen-go-db/.vscode/launch.json
tool/cmd/gen-go-db/gendb/mps-template.xlsx.bak

**.tar.gz
.gitnexus
.claude 
.opencode

tool/cmd/*/protoc-gen-*
tool/cmd/*/aggo
tool/cmd/*/gen-go-db
